@model List<FacultyModel>

@{
    ViewData["Title"] = "Faculty";
}

<h1>Faculty</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Dean</th>
            <th scope="col">Name</th>
            <th scope="col">NumberOfStudents</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var faculty in Model)
        {
            <tr>
                <th scope="row">@faculty.Id</th>
                <td>@faculty.Dean</td>
                <td>@faculty.Name</td>
                <td>@faculty.NumberOfStudents</td>
                <td>
                    <form action="/Faculty/Delete/@faculty.Id">
                        <button type="submit" class="btn btn-danger m-1">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form action="/Faculty/Insert">
    <div class="d-flex m-1">
        <label class="m-1">Dean:</label>
        <input class="form-control" type="text" name="dean" required />
        <label class="m-1">Name:</label>
        <input class="form-control" type="text" name="name" required />
        <label class="m-1">NumberOfStudents:</label>
        <input class="form-control" type="number" name="numberOfStudents" required />
        <button class="btn btn-success m-1" type="submit">Insert</button>
    </div>
</form>
<form action="/Faculty/Update">
    <div class="d-flex m-1">
        <label class="m-1">Id:</label>
        <select class="form-control" name="id" required>
            @foreach (var faculty in Model)
            {
                <option value="@faculty.Id">@faculty.Id</option>
            }
        </select>
        <label class="m-1">Dean:</label>
        <input class="form-control" type="text" name="dean" required />
        <label class="m-1">Name:</label>
        <input class="form-control" type="text" name="name" required />
        <label class="m-1">NumberOfStudents:</label>
        <input class="form-control" type="number" name="numberOfStudents" required />
        <button class="btn btn-secondary m-1" type="submit">Update</button>
    </div>
</form>